In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('train.csv')
display(data.head(20))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [5]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
columns_to_drop = ["PassengerId", "Name", "Ticket", "Cabin", "Embarked"]
data_clean = data.drop(columns_to_drop, axis=1)
data_clean = data_clean.fillna(data_clean["Age"].mean())

In [7]:
data_clean.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [8]:
input_cols = ['Pclass',"Sex","Age","SibSp","Parch","Fare"]
output_cols = ["Survived"]

X = data_clean[input_cols]
Y = data_clean[output_cols]

In [9]:
def entropy(cols):
    counts = np.unique(cols, return_counts = True)
    ent = 0.0
    for ix in counts[1]:
        pi = ix/len(cols)
        ent += -1*pi*np.log2(pi)
    return ent - pi

In [10]:
def info_gain(data_clean, attr, target):
    if isinstance(data_clean[attr].dtype, pd.CategoricalDtype) or data_clean[attr].dtype == object:
        val_uniques = np.unique(data_clean[attr])
        gain = 0.0
        for val in val_uniques:
            subset = data_clean[data_clean[attr] == val] [target]
            x = len(subset)/len(data_clean)
            gain += x * entropy(subset)
        best_gain = entropy(data_clean[target]) - gain
        return best_gain, None
    else:
        val_uniques = np.sort(np.unique(data_clean[attr]))
        best_gain = -np.inf
        best_thresh = 0
        thresholds = [(val_uniques[i] + val_uniques[i + 1])/2 for i in range(len(val_uniques) - 1)]
        for thresh in thresholds:
            left = data_clean[data_clean[attr] <= thresh] [target]
            right = data_clean[data_clean[attr] > thresh] [target]
            gain = entropy(data_clean[target]) - (len(left)/len(data_clean[attr]) * entropy(left) + len(right)/len(data_clean[attr]) * entropy(left))
            if gain > best_gain:
                best_gain = gain
                best_thresh = thresh
        return best_gain, best_thresh

In [11]:
class MixedTree:
    def __init__(self, depth = 0, max_depth = 5):
        self.depth = depth
        self.max_depth = max_depth
        self.children = {}
        self.threshold = None
        self.attr = None
        self.target = None
    def train(self, data_clean, features, target):
        if len(np.unique(data_clean[target])) == 1 or len(features) == 0 or self.depth >= self.max_depth:
            if pd.api.types.is_numeric_dtype(data_clean[target]):
                self.target = data_clean[target].mean()
                return
            else:
                self.target = data_clean[target].mode()[0]
                return
        results = [info_gain(data_clean, attr, target) for attr in features]
        gain = [x[0] for x in results]
        best_id = np.argmax(gain)
        best_attr = features[best_id]
        self.attr = best_attr
        if isinstance(data_clean[best_attr].dtype, pd.CategoricalDtype) or data_clean[best_attr].dtype == object:
            val_uniques = np.unique(data_clean[best_attr])
            for v in val_uniques:
                subset = data_clean[data_clean[best_attr] == v]
                child = MixedTree(depth = self.depth + 1, max_depth = self.max_depth)
                child.train(subset, list(filter(lambda f : f != best_attr, features)), target)
                self.children[v] = child
        else:
            best_gain, best_threshold = results[best_id]
            if best_gain == 0 or np.isnan(best_gain):
                self.target = data_clean[target].mean()
                return
            self.threshold = best_threshold
            left = data_clean[data_clean[best_attr] <= best_threshold]
            right = data_clean[data_clean[best_attr] > best_threshold]
            child_left = MixedTree(depth = self.depth + 1, max_depth = self.max_depth)
            child_left.train(left, list(filter(lambda f : f != best_attr, features)), target)
            child_right = MixedTree(depth = self.depth + 1, max_depth = self.max_depth)
            child_right.train(right, list(filter(lambda f : f != best_attr, features)), target)
            self.children['left'] = child_left
            self.children['right'] = child_right
    def predict(self, row):
        if self.attr is None or self.children == {}:
            if self.target is not None:
                    return self.target
            else:
                    return 0
        val = row[self.attr]
        if self.threshold is not None:
            if val <= self.threshold:
                return self.children['left'].predict(row)
            else:
                return self.children['right'].predict(row)
        else:
            if val in self.children and self.children[val] is not None:
                return self.children[val].predict(row)
            else:
                if self.target is not None:
                    return self.target
                else:
                    return 0

In [12]:
split = int(0.7 * len(data_clean))
train_data = data_clean[:split]
test_data = data_clean[split:]

In [13]:
tree = MixedTree(max_depth = 6)
tree.train(train_data, input_cols, "Survived")

Como os dados não estão organizados em uma ordem relevante, podemos utilizar a divisão de dados sem usar o suffle

In [14]:
for i in range (len (test_data)):
    test_row = test_data.iloc[i]
    print(f"Example {i + 1}: Predicted = {tree.predict(test_row)}, Actual = {test_row['Survived']}")

Example 1: Predicted = 0.14743589743589744, Actual = 0
Example 2: Predicted = 0.14743589743589744, Actual = 0
Example 3: Predicted = 0.21505376344086022, Actual = 0
Example 4: Predicted = 0.21505376344086022, Actual = 0
Example 5: Predicted = 0.9814814814814815, Actual = 1
Example 6: Predicted = 0.14743589743589744, Actual = 0
Example 7: Predicted = 0.14743589743589744, Actual = 0
Example 8: Predicted = 0.21505376344086022, Actual = 1
Example 9: Predicted = 0.045454545454545456, Actual = 0
Example 10: Predicted = 0.21505376344086022, Actual = 1
Example 11: Predicted = 0.0, Actual = 0
Example 12: Predicted = 0.5641025641025641, Actual = 0
Example 13: Predicted = 0.7285714285714285, Actual = 1
Example 14: Predicted = 0.14743589743589744, Actual = 0
Example 15: Predicted = 0.4642857142857143, Actual = 0
Example 16: Predicted = 0.6956521739130435, Actual = 0
Example 17: Predicted = 0.13043478260869565, Actual = 0
Example 18: Predicted = 0.14743589743589744, Actual = 0
Example 19: Predicted = 0.9814814814814815, Actual = 1
Example 20: Predicted = 0.5641025641025641, Actual = 0
Example 21: Predicted = 0.14743589743589744, Actual = 1
Example 22: Predicted = 1.0, Actual = 1
Example 23: Predicted = 0.2413793103448276, Actual = 1
Example 24: Predicted = 0.14743589743589744, Actual = 0
Example 25: Predicted = 0.21505376344086022, Actual = 1
Example 26: Predicted = 0.14743589743589744, Actual = 0
Example 27: Predicted = 0.7285714285714285, Actual = 1
Example 28: Predicted = 0.14743589743589744, Actual = 0
Example 29: Predicted = 0.6956521739130435, Actual = 1
Example 30: Predicted = 0.14743589743589744, Actual = 0
Example 31: Predicted = 0.7285714285714285, Actual = 1
Example 32: Predicted = 0, Actual = 0
Example 33: Predicted = 0.2413793103448276, Actual = 0
Example 34: Predicted = 0.14743589743589744, Actual = 0
Example 35: Predicted = 0.5641025641025641, Actual = 0
Example 36: Predicted = 0.21505376344086022, Actual = 0
Example 37: Predicted = 0.4642857142857143, Actual = 0
Example 38: Predicted = 0.2413793103448276, Actual = 1
Example 39: Predicted = 0.14743589743589744, Actual = 0
Example 40: Predicted = 0.21505376344086022, Actual = 0
Example 41: Predicted = 0.14743589743589744, Actual = 0
Example 42: Predicted = 0.13043478260869565, Actual = 1
Example 43: Predicted = 0.2413793103448276, Actual = 0
Example 44: Predicted = 0.21505376344086022, Actual = 0
Example 45: Predicted = 0.14743589743589744, Actual = 0
Example 46: Predicted = 0.14743589743589744, Actual = 0
Example 47: Predicted = 0.9814814814814815, Actual = 1
Example 48: Predicted = 0.5641025641025641, Actual = 1
Example 49: Predicted = 0.2413793103448276, Actual = 0
Example 50: Predicted = 0.21505376344086022, Actual = 0
Example 51: Predicted = 0.21505376344086022, Actual = 1
Example 52: Predicted = 0.045454545454545456, Actual = 0
Example 53: Predicted = 0.14743589743589744, Actual = 0
Example 54: Predicted = 0.14743589743589744, Actual = 0
Example 55: Predicted = 0.7285714285714285, Actual = 1
Example 56: Predicted = 0.5641025641025641, Actual = 0
Example 57: Predicted = 0.4642857142857143, Actual = 1
Example 58: Predicted = 0.7285714285714285, Actual = 0
Example 59: Predicted = 0.21505376344086022, Actual = 1
Example 60: Predicted = 0.14743589743589744, Actual = 0
Example 61: Predicted = 0.17647058823529413, Actual = 0
Example 62: Predicted = 0.4642857142857143, Actual = 0
Example 63: Predicted = 0.4642857142857143, Actual = 0
Example 64: Predicted = 0.17647058823529413, Actual = 0
Example 65: Predicted = 0.14743589743589744, Actual = 0
Example 66: Predicted = 0.14743589743589744, Actual = 0
Example 67: Predicted = 0.9814814814814815, Actual = 1
Example 68: Predicted = 0.2413793103448276, Actual = 1
Example 69: Predicted = 0.6956521739130435, Actual = 1
Example 70: Predicted = 0.14743589743589744, Actual = 1
Example 71: Predicted = 0.14743589743589744, Actual = 0
Example 72: Predicted = 0.21505376344086022, Actual = 0
Example 73: Predicted = 0.21505376344086022, Actual = 0
Example 74: Predicted = 0.14743589743589744, Actual = 0
Example 75: Predicted = 0.7285714285714285, Actual = 1
Example 76: Predicted = 0.4642857142857143, Actual = 0
Example 77: Predicted = 0.14743589743589744, Actual = 0
Example 78: Predicted = 0.9814814814814815, Actual = 1
Example 79: Predicted = 0.21505376344086022, Actual = 1
Example 80: Predicted = 0.6956521739130435, Actual = 0
Example 81: Predicted = 0.14743589743589744, Actual = 0
Example 82: Predicted = 0.13043478260869565, Actual = 0
Example 83: Predicted = 0.21505376344086022, Actual = 0
Example 84: Predicted = 0.7285714285714285, Actual = 1
Example 85: Predicted = 0.21505376344086022, Actual = 1
Example 86: Predicted = 0.9814814814814815, Actual = 1
Example 87: Predicted = 0.17647058823529413, Actual = 1
Example 88: Predicted = 0.9814814814814815, Actual = 1
Example 89: Predicted = 0.21505376344086022, Actual = 0
Example 90: Predicted = 0.2413793103448276, Actual = 1
Example 91: Predicted = 0.14743589743589744, Actual = 0
Example 92: Predicted = 0.21505376344086022, Actual = 0
Example 93: Predicted = 0.14743589743589744, Actual = 0
Example 94: Predicted = 0.9814814814814815, Actual = 1
Example 95: Predicted = 0.7285714285714285, Actual = 1
Example 96: Predicted = 0.14743589743589744, Actual = 0
Example 97: Predicted = 0.14743589743589744, Actual = 0
Example 98: Predicted = 0.6956521739130435, Actual = 1
Example 99: Predicted = 0.0, Actual = 0
Example 100: Predicted = 0.21505376344086022, Actual = 0
Example 101: Predicted = 0.21505376344086022, Actual = 0
Example 102: Predicted = 0.2413793103448276, Actual = 1
Example 103: Predicted = 0.14743589743589744, Actual = 0
Example 104: Predicted = 0.625, Actual = 1
Example 105: Predicted = 0.7285714285714285, Actual = 1
Example 106: Predicted = 0.2413793103448276, Actual = 0
Example 107: Predicted = 0.625, Actual = 0
Example 108: Predicted = 0.9814814814814815, Actual = 1
Example 109: Predicted = 0.14743589743589744, Actual = 0
Example 110: Predicted = 0.045454545454545456, Actual = 0
Example 111: Predicted = 0.21505376344086022, Actual = 0
Example 112: Predicted = 0.21505376344086022, Actual = 0
Example 113: Predicted = 0.14743589743589744, Actual = 0
Example 114: Predicted = 0.5641025641025641, Actual = 0
Example 115: Predicted = 0.21505376344086022, Actual = 1
Example 116: Predicted = 0.14743589743589744, Actual = 0
Example 117: Predicted = 0.14743589743589744, Actual = 0
Example 118: Predicted = 0.21505376344086022, Actual = 1
Example 119: Predicted = 0.2413793103448276, Actual = 0
Example 120: Predicted = 0.6666666666666666, Actual = 1
Example 121: Predicted = 0.13043478260869565, Actual = 0
Example 122: Predicted = 0.14743589743589744, Actual = 1
Example 123: Predicted = 0.4642857142857143, Actual = 0
Example 124: Predicted = 0.17647058823529413, Actual = 0
Example 125: Predicted = 0.7285714285714285, Actual = 1
Example 126: Predicted = 0.2413793103448276, Actual = 0
Example 127: Predicted = 0.14743589743589744, Actual = 0
Example 128: Predicted = 0.5641025641025641, Actual = 1
Example 129: Predicted = 0.17647058823529413, Actual = 1
Example 130: Predicted = 0.14743589743589744, Actual = 0
Example 131: Predicted = 0.14743589743589744, Actual = 0
Example 132: Predicted = 0.5641025641025641, Actual = 1
Example 133: Predicted = 1.0, Actual = 1
Example 134: Predicted = 0.14743589743589744, Actual = 0
Example 135: Predicted = 0.21505376344086022, Actual = 0
Example 136: Predicted = 0.14743589743589744, Actual = 0
Example 137: Predicted = 0.9814814814814815, Actual = 1
Example 138: Predicted = 0.14743589743589744, Actual = 0
Example 139: Predicted = 0.045454545454545456, Actual = 0
Example 140: Predicted = 0.14743589743589744, Actual = 1
Example 141: Predicted = 0.6666666666666666, Actual = 1
Example 142: Predicted = 0.14743589743589744, Actual = 0
Example 143: Predicted = 0.9814814814814815, Actual = 1
Example 144: Predicted = 0.21505376344086022, Actual = 0
Example 145: Predicted = 0.7285714285714285, Actual = 0
Example 146: Predicted = 0.13043478260869565, Actual = 0
Example 147: Predicted = 0.14743589743589744, Actual = 0
Example 148: Predicted = 0.14743589743589744, Actual = 0
Example 149: Predicted = 0.14743589743589744, Actual = 0
Example 150: Predicted = 0.7285714285714285, Actual = 0
Example 151: Predicted = 0.14743589743589744, Actual = 0
Example 152: Predicted = 0.5641025641025641, Actual = 1
Example 153: Predicted = 0.14743589743589744, Actual = 0
Example 154: Predicted = 0.14743589743589744, Actual = 0
Example 155: Predicted = 0.7285714285714285, Actual = 1
Example 156: Predicted = 0.14743589743589744, Actual = 0
Example 157: Predicted = 0.9814814814814815, Actual = 1
Example 158: Predicted = 0.7285714285714285, Actual = 1
Example 159: Predicted = 0.9814814814814815, Actual = 1
Example 160: Predicted = 0.21505376344086022, Actual = 0
Example 161: Predicted = 0.17647058823529413, Actual = 0
Example 162: Predicted = 0.045454545454545456, Actual = 0
Example 163: Predicted = 0.14743589743589744, Actual = 0
Example 164: Predicted = 0.7285714285714285, Actual = 1
Example 165: Predicted = 0.17647058823529413, Actual = 0
Example 166: Predicted = 0.17647058823529413, Actual = 1
Example 167: Predicted = 0.21505376344086022, Actual = 0
Example 168: Predicted = 0.14743589743589744, Actual = 0
Example 169: Predicted = 0.21505376344086022, Actual = 0
Example 170: Predicted = 0.5641025641025641, Actual = 0
Example 171: Predicted = 0.21505376344086022, Actual = 0
Example 172: Predicted = 0.14743589743589744, Actual = 0
Example 173: Predicted = 0.21505376344086022, Actual = 0
Example 174: Predicted = 0.9814814814814815, Actual = 1
Example 175: Predicted = 0.7285714285714285, Actual = 1
Example 176: Predicted = 0.14743589743589744, Actual = 0
Example 177: Predicted = 0.5641025641025641, Actual = 0
Example 178: Predicted = 0.21505376344086022, Actual = 0
Example 179: Predicted = 0.5641025641025641, Actual = 1
Example 180: Predicted = 0.4642857142857143, Actual = 1
Example 181: Predicted = 1.0, Actual = 1
Example 182: Predicted = 0.045454545454545456, Actual = 1
Example 183: Predicted = 0.14743589743589744, Actual = 0
Example 184: Predicted = 0.0, Actual = 0
Example 185: Predicted = 0.7285714285714285, Actual = 0
Example 186: Predicted = 0.21505376344086022, Actual = 0
Example 187: Predicted = 0.9814814814814815, Actual = 1
Example 188: Predicted = 0.14743589743589744, Actual = 0
Example 189: Predicted = 0.14743589743589744, Actual = 0
Example 190: Predicted = 0.21505376344086022, Actual = 0
Example 191: Predicted = 0.5641025641025641, Actual = 0
Example 192: Predicted = 0.14743589743589744, Actual = 0
Example 193: Predicted = 0.0, Actual = 0
Example 194: Predicted = 0.7285714285714285, Actual = 0
Example 195: Predicted = 0.4642857142857143, Actual = 0
Example 196: Predicted = 0.045454545454545456, Actual = 0
Example 197: Predicted = 0.17647058823529413, Actual = 0
Example 198: Predicted = 0.9814814814814815, Actual = 1
Example 199: Predicted = 0.14743589743589744, Actual = 1
Example 200: Predicted = 0.0, Actual = 0
Example 201: Predicted = 0.6956521739130435, Actual = 1
Example 202: Predicted = 0.17647058823529413, Actual = 0
Example 203: Predicted = 0.045454545454545456, Actual = 0
Example 204: Predicted = 0.14743589743589744, Actual = 0
Example 205: Predicted = 0.4642857142857143, Actual = 1
Example 206: Predicted = 0.14743589743589744, Actual = 1
Example 207: Predicted = 0.9814814814814815, Actual = 1
Example 208: Predicted = 0.625, Actual = 1
Example 209: Predicted = 0.4642857142857143, Actual = 1
Example 210: Predicted = 0.14743589743589744, Actual = 0
Example 211: Predicted = 0.14743589743589744, Actual = 0
Example 212: Predicted = 0.14743589743589744, Actual = 0
Example 213: Predicted = 0.9814814814814815, Actual = 1
Example 214: Predicted = 0.14743589743589744, Actual = 0
Example 215: Predicted = 0.14743589743589744, Actual = 0
Example 216: Predicted = 0.14743589743589744, Actual = 1
Example 217: Predicted = 0.21505376344086022, Actual = 1
Example 218: Predicted = 0.14743589743589744, Actual = 0
Example 219: Predicted = 0.21505376344086022, Actual = 0
Example 220: Predicted = 0.9814814814814815, Actual = 1
Example 221: Predicted = 0.045454545454545456, Actual = 0
Example 222: Predicted = 0.14743589743589744, Actual = 0
Example 223: Predicted = 0.14743589743589744, Actual = 0
Example 224: Predicted = 0.0, Actual = 0
Example 225: Predicted = 0.14743589743589744, Actual = 0
Example 226: Predicted = 0.4642857142857143, Actual = 0
Example 227: Predicted = 0.9814814814814815, Actual = 1
Example 228: Predicted = 0.17647058823529413, Actual = 0
Example 229: Predicted = 0.14743589743589744, Actual = 0
Example 230: Predicted = 0.5641025641025641, Actual = 0
Example 231: Predicted = 0.9814814814814815, Actual = 1
Example 232: Predicted = 0.625, Actual = 0
Example 233: Predicted = 0.6956521739130435, Actual = 1
Example 234: Predicted = 0.9814814814814815, Actual = 1
Example 235: Predicted = 0.21505376344086022, Actual = 1
Example 236: Predicted = 0.6956521739130435, Actual = 1
Example 237: Predicted = 0.14743589743589744, Actual = 0
Example 238: Predicted = 0.13043478260869565, Actual = 0
Example 239: Predicted = 0.2413793103448276, Actual = 0
Example 240: Predicted = 0.9814814814814815, Actual = 1
Example 241: Predicted = 0.5641025641025641, Actual = 0
Example 242: Predicted = 0.21505376344086022, Actual = 0
Example 243: Predicted = 0.7285714285714285, Actual = 1
Example 244: Predicted = 0.625, Actual = 1
Example 245: Predicted = 0.21505376344086022, Actual = 0
Example 246: Predicted = 0.14743589743589744, Actual = 0
Example 247: Predicted = 0.17647058823529413, Actual = 1
Example 248: Predicted = 0.14743589743589744, Actual = 0
Example 249: Predicted = 0.9814814814814815, Actual = 1
Example 250: Predicted = 0.0, Actual = 0
Example 251: Predicted = 0.14743589743589744, Actual = 0
Example 252: Predicted = 0.625, Actual = 1
Example 253: Predicted = 0.7285714285714285, Actual = 1
Example 254: Predicted = 0.14743589743589744, Actual = 0
Example 255: Predicted = 0.14743589743589744, Actual = 0
Example 256: Predicted = 0.14743589743589744, Actual = 0
Example 257: Predicted = 0.9814814814814815, Actual = 1
Example 258: Predicted = 0.6956521739130435, Actual = 1
Example 259: Predicted = 0.14743589743589744, Actual = 0
Example 260: Predicted = 0.7285714285714285, Actual = 0
Example 261: Predicted = 0.21505376344086022, Actual = 0
Example 262: Predicted = 0.045454545454545456, Actual = 0
Example 263: Predicted = 0.6956521739130435, Actual = 0
Example 264: Predicted = 0.21505376344086022, Actual = 0
Example 265: Predicted = 0.9814814814814815, Actual = 1
Example 266: Predicted = 0.5641025641025641, Actual = 0
Example 267: Predicted = 0.21505376344086022, Actual = 1
Example 268: Predicted = 0.14743589743589744, Actual = 0

In [15]:
def mse(y_test, y_pred):
    y_test = np.array(y_test, dtype=int)
    y_pred = np.array(y_pred, dtype=int)
    return np.mean((y_test - y_pred) ** 2)
y_test = test_data['Survived'].values
y_pred = [tree.predict(test_data.iloc[i]) for i in range (len(test_data))]
val = mse(y_test, y_pred)
rmse = np.sqrt(val)

def rform(y_test, y_pred):
    result = 1 - np.sum((y_test - y_pred)**2)/ np.sum(((y_test - y_test.mean())**2))
    return result
val_r = rform(y_test, y_pred)

                                                    
print(f"R-Squared: {val_r}")
print(f"MSE: {val}")
print(f"RMSE:{rmse}")

R-Squared: 0.3701601906644997
MSE: 0.34701492537313433
RMSE:0.5890797275183847

Sempre dividir os dados para teste e treino